* {
  margin: 0;
  padding: auto;
}

body {
  background: #222;
  color: #fff;
}


header {
  display: flex;
  border: 8px solid #fff;
  justify-content: space-between;
  background-color: #000000;
  border-bottom: 2px solid #2c2c2c;
  padding: 20px 50px;
}

.header_box {
  border: 8px solid #fff;
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
}

header a{
  margin-left: 20px;
}
a{
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px ;
}


.tasks_boks{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 8px solid #fff;
  min-height: 100px ;
  gap: 20px;
} 

.box{
  border: 8px solid #000;
  font-size: 20px;
  width: 600px;
}

.box_header{
  border: 8px solid #000;
  font-size: 20px;
  padding: 20px;
} 

.add_task{
  font-size: 20px;
  border: 8px solid #fff;
  display: flex;
  justify-content: flex-end;
}